[submodule "gflags/source"]
	path = gflags/source
	url = https://github.com/gflags/gflags.git
[submodule "readline/source"]
	path = readline/source
	url = http://git.savannah.gnu.org/r/readline.git
[submodule "libgit2/source"]
	path = libgit2/source
	url = https://github.com/libgit2/libgit2.git
[submodule "poolqueue/source"]
	path = poolqueue/source
	url = https://github.com/rhashimoto/poolqueue.git
